@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(../../public/fonts/material-symbols.woff2) format("woff2");
}

@layer base {
  * {
    @apply outline-none transition-colors;
  }
}
